<header th:fragment="header">
    <nav class="navbar navbar-light" style="background-color: cyan">
        <a class="navbar-brand" href="/home">
            <img src="/img/restaurant-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Resto-App
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/home'}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/restaurants'}">Restaurants</a>
            </li>
        </ul>
    </nav>
</header>