<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Restaurant</title>
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom-form"></th:block>
    <th:block th:include="fragments/custom.html :: head-font"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container h-100vh">
    <div class="row row h-100 align-items-center justify-content-centerr">
        <div class="col align-self-cente ">
            <div class="card">
                <div th:text="(${restaurant.id} == null ? 'Add Restaurant' : 'Edit Restaurant')" class="card-header text-center display-4">
                </div>
                <div class="card-body">
                    <form action="" th:action="@{/restaurant/new}" th:object="${restaurant}" method="post">
                        <input  type="hidden" th:field="*{id}"/>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Restaurant Name</label>
                                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="photoUrl">Photo Url</label>
                                <input type="text" class="form-control" th:field="*{photoUrl}" id="photoUrl" placeholder="Url">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="review">Review</label>
                                <select id="review" class="form-control" th:field="*{review}">
                                    <option th:each="star : ${T(be.multimedi.restoapp.model.enums.Star).values()}" th:value="${star}" th:text="${star}" selected>Review</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kitchen">Kitchen</label>
                                <select id="kitchen" class="form-control" th:field="*{kitchen}">
                                    <option th:each="k : ${T(be.multimedi.restoapp.model.enums.Kitchen).values()}" th:value="${k}" th:text="${k}" selected>Kitchen</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="street">Street</label>
                                <input type="text" th:field="*{address.street}" class="form-control" id="street" placeholder="Street">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="bouwNumber">Number</label>
                                <input type="number" th:field="*{address.number}"  class="form-control" id="bouwNumber" placeholder="Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="postcode">Postcode</label>
                                <input type="text" th:field="*{address.postcode}"  class="form-control" id="postcode" placeholder="Postcode">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="city">City</label>
                                <input type="text" th:field="*{address.city}"  class="form-control" id="city" placeholder="City">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="country">Country</label>
                                <input type="text" th:field="*{address.country}"  class="form-control" id="country" placeholder="Country">
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>